input#startGame, input#pauseGame, input#resumeGame {
	width: 120px;
}
input#resumeGame{
	display: none;
}
div#divGame {
	cursor: none;
	display: block;
	border: 1px solid #AA9A8B;
	float:left;
}
div#left, div#right { 
	display: block;
	float: left;
	text-align: center; 
}
div#blocToCenter {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -200px 0 0 -505px;
}
body{
	background-image: url(background.png);
}
div#title, div#info {
	position: relative;
  	top: 0;
  	left: 0;
	display: block;
    width: 100%;
    text-align: center;
    font-family: "Courier New";
    color: #A39282;
}
div#info {
	position: relative;
	display: block;
    width: 100%;
    text-align: center;
    font-family: "Courier New";
    color: #FFE9D3;
}
@media (min-width: 1281px) {
	div#title {
		margin-top: 10em;
	}
}